$color-white: #fff;
$color-black: #000;
$color-light-grey: #d8d8d8;
$color-grey: #757575;

$color-success: #689a47;
$color-running: #427fb3;
$color-failure: #be0712;
$color-pending: #8d8f99;

$category-in-progress: #5e9cd3;
$category-success: #548039;
$category-failed: #be0712;
$category-skipped: #d8d8d8;

$color-green-gradient: #f0f5ef;
$color-red-gradient: #fdeaea;
$color-blue-gradient: #f0f3f9;
$color-grey-gradient: #ecf2f9;
